# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pruebas Coche v2.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\argo\Desktop\Proyecto\Pruebas Coche v2\.idea\.idea.Pruebas Coche v2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
