# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Pruebas Coche v2.1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\argo\Desktop\Pruebas Coche v2.1\.idea\.idea.Pruebas Coche v2.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
